.scrobbler-div {
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: -19px;
  z-index: 10000;
}
.scrobbler-div[data-clickable=true] {
  cursor: pointer;
}
.scrobbler-div[data-clickable=false] {
  pointer-events: none;
  cursor: default;
}

.ytp-love-button[data-hidden=true] {
  display: none !important;
}

.scrobbler-editor {
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: -22px;
  z-index: 10000;
  display: flex;
  align-items: center;
  width: 100%;
}
.scrobbler-editor input[type=submit] {
  border: solid 1px #ccc;
  border-radius: 0;
}
.scrobbler-editor input[type=text] {
  flex: 1;
  outline: none;
}
.scrobbler-editor input {
  height: 20px;
  box-sizing: border-box;
  margin-left: 5px;
}
